<% provide(:title, "Welcome!") %>

<div class="dashboard">
  <div class="row">
      <div class="col-sm-4">
      <h5><%= link_to 'Total assets:', inventories_path %> <%= @inventory.all.count %></h5>

      <ul>
        <li>Laptops: <%= @inventory.where(equipment: "Laptop").count %></li>
        <li>Desktops: <%= @inventory.where(equipment: "Desktop").count %></li>
        <li>Servers: <%= @inventory.where(equipment: "Server").count %></li>
        <li>Storage: <%= @inventory.where(equipment: "Storage").count %></li>
        <li>Printers: <%= @inventory.where(equipment: "Printer").count %></li>
        <li>Phones: <%= @inventory.where(equipment: "Phone").count %></li>
        <li>Tablets: <%= @inventory.where(equipment: "Tablet").count %></li>
      <ul>

    </div>
    <div class="col-sm-4">
      <h5>Equipment By Status</h5>
      <ul>
        <li>In Use: <%= @inventory.where(status: "In Use").count %></li>
        <li>Spare: <%= @inventory.where(status: "Spare").count %></li>
        <li>Disposed: <%= @inventory.where(status: "Disposed").count %></li>
        <li>In Repair: <%= @inventory.where(status: "In Repair").count %></li>
        <li>Stolen: <%= @inventory.where(status: "Stolen").count %></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h5>Contracts By Type</h5>
      <ul>
        <li>Software License:</li>
        <li>Maintenance:</li>
        <li>Lease:</li>
        <li>Subscription:</li>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h5>Contracts Expiring Soon</h5>
      <ul>
        <li>Expiring within 60 days: </li>
      </ul>
    </div>
  </div>

</div>
