<% provide(:title, "Welcome!") %>

<div class="dashboard">
  <div class="row">

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-life-ring fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large-number"><%= @ticket.all.count %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <span>Total Tickets</span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", tickets_path %>
        </div>
      </div>
    </div>

    <div class="red-panel">
    <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-life-ring fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large-number"><%= @ticket.where(severity: "High").count %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <span>High Severity Tickets</span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", tickets_path %>
        </div>
      </div>
    </div>
  </div>


    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-desktop fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large-number"><%= @inventory.where(status: "In Repair").count %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <span>Assets In Repair</span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", controller: "inventories", status: "In Repair" %>
        </div>
      </div>
    </div>

    <div class="red-panel">
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-pencil-square-o fa-4x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large-number"><%= @contract.where("end_date < ?", (Date.today + 60)).count %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <span>Contracts Expiring Soon</span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", contracts_path %>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-5">
        <h5>Total Assets</h5>
        <%= pie_chart @inventory.group(:equipment).count %>
    </div>

    <div class="col-lg-6">
      <h5>Tickets By Status</h5>
      <%= column_chart @ticket.group(:status).count %>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6">
      <h5>Equipment By Status</h5>
      <%= column_chart @inventory.group(:status).count %>
    </div>

    <div class="col-lg-5">
      <h5>Contracts By Type</h5>
      <%= pie_chart @contract.group(:contract_type).count %>
    </div>

  </div>

</div>
