<% provide(:title, "Login") %>

<div class="login-form">

  <div class="row">
    <div class="form-group col-sm-4 col-sm-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
          <div class="panel-body">

            <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label "Email" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label "Password" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Login", class: "btn btn-primary btn-sm" %>

            <% end %>

          </div>
        </div>

    </div>
  </div>

</div>
