<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Add New Asset', new_inventory_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="assets">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Assets</h1>

      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Model</th>
          <th>Serial</th>
          <th>Owner</th>
          <th>Status</th>
          <th>Remove</th>
        <tr>

      <% @inventory.each do |inventory| %>

        <tr>
          <td><%= link_to inventory.name, edit_inventory_path(inventory) %></td>
          <td><%= inventory.equipment %></td>
          <td><%= inventory.model %></td>
          <td><%= inventory.serial %></td>
          <td><%= inventory.owner %></td>
          <td><%= inventory.status %></td>
          <div class="remove_icon">
            <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, inventory_path(inventory),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
          </div>
        </tr>

        <% end %>

      </table>

    </div>
  </div>
</div>
