<div class="row">
  <div class="col-sm-12">

    <ul class="nav nav-pills">
    <li role="presenation"> <%= link_to 'Add New Asset', new_inventory_path %></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Equipment Type<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All", inventories_path %></li>
        <li><%= link_to "Laptops", controller: "inventories", equipment: "Laptop" %></li>
        <li><%= link_to "Desktops", controller: "inventories", equipment: "Desktop" %></li>
        <li><%= link_to "Servers", controller: "inventories", equipment: "Server" %></li>
        <li><%= link_to "Printers", controller: "inventories", equipment: "Printer" %></li>
        <li><%= link_to "Phone", controller: "inventories", equipment: "Phone" %></li>
        <li><%= link_to "Mobile Device", controller: "inventories", equipment: "Mobile Device" %></li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Status<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "All", inventories_path %></li>
        <li><%= link_to "In Use", controller: "inventories", status: "In Use" %></li>
        <li><%= link_to "Spare", controller: "inventories", status: "Spare" %></li>
        <li><%= link_to "In Repair", controller: "inventories", status: "In Repair" %></li>
        <li><%= link_to "Disposed", controller: "inventories", status: "Disposed" %></li>
        <li><%= link_to "Lost", controller: "inventories", status: "Lost" %></li>
        <li><%= link_to "Stolen", controller: "inventories", status: "Stolen" %></li>
      </ul>
    </li>
  </ul>
</div>
</div>

<div class="assets">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Assets:</h1>

      <div class="table-responsive">
        <table class="tablesorter table table-hover" id="show-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Model</th>
              <th>Serial</th>
              <th>Owner</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>

          <tbody>
            <% @inventory.each do |inventory| %>
            <tr>
              <td><%= link_to inventory.name, inventory_path(inventory) %></td>
              <td><%= inventory.equipment %></td>
              <td><%= inventory.model %></td>
              <td><%= inventory.serial %></td>
              <td><%= inventory.owner %></td>
              <td><%= inventory.status %></td>
              <div class="edit-icon">
                <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_inventory_path(inventory) %></td>
              </div>
              <div class="remove-icon">
                <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, inventory_path(inventory),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
              </div>
            </tr>

            <% end %>
          </tbody>

        </table>
      </div>

      <%= will_paginate @inventory, renderer: BootstrapPagination::Rails %>

    </div>
  </div>
</div>
