<div class="row">
  <div class="col-sm-12">

    <%= form_tag search_inventories_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>

    <h1>Search Results:</h1>
    <%= @results.each do |i| %>
      <ul>
        <li><%= i.name %><li>
      </ul>
    <% end %>

</div>
</div>
