<div class="asset-show">
<ul>
  <li>Name: <%= @inventory.name %></li>
  <li>Barcode: <%= @inventory.barcode %></li>
  <li>Serial: <%= @inventory.serial %></li>
  <li>Equipment Type: <%= @inventory.equipment %></li>
  <li>Model: <%= @inventory.model %></li>
  <li>Owner: <%= @inventory.owner %></li>
</ul>
</div>
