<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Add New Contract', new_contract_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="contracts">

    <h1>All Contracts:</h1>
    <div class="table-responsive">
      <table id="show-table" class="tablesorter table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Agreement Number</th>
          <th>Vendor</th>
          <th>Status</th>
          <th>End Date</th>
          <th>Edit</edit>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <td><%= link_to contract.contract_title, contract_path(contract) %></td>
            <td><%= contract.contract_number %></td>
            <td><%= contract.vendor %></td>
            <td><%= contract.status %></td>
            <td><%= contract.end_date %></td>
            <div class="edit-icon">
              <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_contract_path(contract) %></td>
            </div>
            <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, contract_path(contract),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
          </tr>
            <% end %>
          </tbody>

        </table>
      </div>
      </div>
    </div>
</div>
