<div class="contract-show">
  <i class="fa fa-arrow-left"></i> <%= link_to 'Back', contracts_path %>

  <h1>Contract Details</h1>

<ul>
  <li><strong>Name:</strong> <%= @contract.contract_title %></li>
  <li><strong>Agreement Number:</strong> <%= @contract.contract_number %></li>
  <li><strong>Vendor:</strong> <%= @contract.vendor %></li>
  <li><strong>Contact:</strong> <%= @contract.contact %></li>
  <li><strong>Start Date:</strong> <%= @contract.start_date %></li>
  <li><strong>End Date:</strong> <%= @contract.end_date%></li>
  <li><strong>PO Number:</strong> <%= @contract.po_number %></li>
  <li><strong>Purchase Date:</strong> <%= @contract.purchase_date %></li>
  <li><strong>Cost:</strong> <%= @contract.contract_cost %></li>
  <li><strong>Status:</strong> <%= @contract.status %></li>
  <li><strong>Attachment:</strong> <%= link_to @contract.contract_attach_file_name, @contract.contract_attach.url %></li>

  <li><strong>Description:</strong> <%= @contract.description %></li>
</ul>
</div>

<%= link_to 'Edit', edit_contract_path, class: "btn btn-primary" %>

<%= link_to 'Delete', contract_path,
              method: :delete,
              class: "btn btn-primary",
              data: { confirm: 'Are you sure?' } %>
